<mat-toolbar class="d-flex justify-content-between">

    <a routerLink="home">Code with Rade store</a>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]='itemsQuantity === 0' matBadgeColor="warn"
            class="material-symbols-outlined">shopping_bag</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div class="px-3">
            <div class=" d-flex justify-content-between m-2">
                <span class="me-5">{{itemsQuantity}} Item(s)</span>
                <a routerLink="cart">View Cart</a>
            </div>
            <hr>
            <div *ngIf="cart.items.length">
                <div class="d-flex justify-content-between m-2" *ngFor="let i of cart.items">
                    {{i.name}} ({{i.quantity}})
                    <span class="ms-3 fw-bold">{{ i.price | currency:"USD" }}</span>
                </div>
            </div>
            <div class="px-4" *ngIf="!cart.items.length">
                <b>No Items Chosen :(</b>
            </div>
            <hr>
            <div class="d-flex justify-content-between m-2">
                <span>Total:</span>
                <span class="fw-bold">{{ getTotalPrice(cart.items)| currency:"USD" }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between m-2">
                <button class="bg-danger rounded-circle" style="--bs-bg-opacity: .7;" (click)="OnClearCart()">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
                <button routerLink="cart" class="bg-success rounded-circle" style="--bs-bg-opacity: .5;">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>