* {
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 132, 107);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
    /* Do not want any scroll bar to show */
}

h1 {
    margin: 20px 0 0;
}

.game-container {
    padding: 20px 2em;
    position: relative;
    margin: auto;
    height: 350px;
    width: 450px;
}

.fig-container {
    height: 250px;
    width: 200px;
    fill: transparent;
    stroke: white;
    stroke-width: 4;
    stroke-linecap: round;

}

.fig-part {
    display: none
}

.wrong-letters-container {
    position: absolute;
    /* Used for positioning the wrong letters in a specific area. */
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.wrong-letters-container p {
    margin: 0 0 5px;
    font-size: 1.5em;
}

.wrong-letters-container span {
    font-size: 1.5em;
}

.word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* Makes the word always stay in the middle */

}

.letter {
    border-bottom: 3px solid rgb(255, 215, 0);
    font-size: 2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20px;
    margin: 0 3px;

}

.popup-container {
    background-color: rgba(26, 61, 49, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    /* Will be changed to flex when game has been won. Done by JS */
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: rgb(128, 115, 41);
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

}

.popup button {
    cursor: pointer;
    background: none;
    color: #f0c9ac;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: 0.3s;
}

.popup button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.5em);
}

.notis-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.3s ease-in-out;

}

.notis-container.show {
    transform: translateY(-70px);
}